<!DOCTYPE html>

@model DirectoryInfo[]
@using Utils

<html>
<head>
    <meta charset="utf-8" />
    <title>WebAV-分享</title>

    @Html.Partial("Header")
</head>

<body>
    @Html.Partial("Share")

    <div class="alert alert-warning" role="alert">
        您没有使用权限,请去登录
    </div>

</body>
</html>