@{ 
    string router = ViewData["router"].ToString();
}

<head>
    <meta charset="utf-8" />
    <title>WebAV-命令行</title>
    @Html.Partial("Header")
</head>

<div>
    <textarea id='area' rows="10" style="width: 100%;"></textarea>
</div>

<script>
    var wsUrl = "@("ws://www.cainqs.com:30000/" + router)"
    var ws;

    function createWebSocket() {
        try {
            ws = new WebSocket(wsUrl);
            init();
        } catch (e) {
            console.log('catch');
        }
    }

    function init() {
        ws.onclose = function () {
            console.log('链接关闭');
        };
        ws.onerror = function () {
            console.log('发生异常了');
        };
        ws.onopen = function () {
            ws.send('{"exe":"", "arg":""}');
        };
        ws.onmessage = function (event) {
            $("#area").val(event.data + "\r");
        }
    }

    createWebSocket();
</script>