
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        <a href="https://www.wantiku.com/m/yhjf?subjectParentid=404">test</a>
    </div>
</body>
</html>
