<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--下载记录已下载内容的log目录-->
    <add key="infofolder" value="C:\setting\hmbaComic\" />
    <add key="manhuafeninfofolder" value="C:\setting\manhuafenComic\" />
    <!--漫画图片目录-->
    <add key="downloadfolder" value="C:\setting\hmbaComicDownload\" />
    <add key="manhuafendownloadfolder" value="C:\setting\manhuafenComicDownload\" />
    <!--漫画压缩包目录用于app阅读-->
    <add key="zipfolder" value="G:\AVWeb\ComicDownload\" />
    <!--是否创建压缩包-->
    <add key="zip" value="true" />
    <!--压缩包内文字是否使用urlencode,启用可解决部分软件如ComicGlass的乱码-->
    <add key="urlencode" value="true" />
    <!--主线程数,同时最多下载多少部漫画-->
    <add key="mainthread" value="5" />
    <!--图片下载线程数,同时最多下载一部漫画内的多少图片-->
    <add key="picthread" value="5" />
    <!--以下勿改-->
    <add key="webprefix" value="http://www.hmba.vip" />
    <add key="websearch" value="http://www.hmba.vip/home/search" />
    <add key="webhost" value="img.manjiavip.com" />
    <add key="manhuafenwebprefix" value="https://www.manhuafen.com" />
    <add key="manhuafenwebsearch" value="https://www.manhuafen.com/search/?keywords=" />
    <add key="manhuafenwebhost" value="www.manhuafen.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>