USE [master]
GO
/****** Object:  Database [SisDownload]    Script Date: 09/01/2020 11:39:42 ******/
CREATE DATABASE [SisDownload]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SisDownload', FILENAME = N'G:\DB\SisDownload.mdf' , SIZE = 10485760KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SisDownload_log', FILENAME = N'G:\DB\SisDownload_log.ldf' , SIZE = 13217792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SisDownload].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SisDownload]
GO
/****** Object:  Table [dbo].[AlreadyScaned]    Script Date: 09/01/2020 11:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlreadyScaned](
	[AlreadyScanedID] [int] IDENTITY(1,1) NOT NULL,
	[Channel] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[ScannedDate] [datetime] NOT NULL,
	[IsDownloaded] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlreadyScanedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LastOperationEndDate]    Script Date: 09/01/2020 11:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastOperationEndDate](
	[LastOperationEndDateID] [int] IDENTITY(1,1) NOT NULL,
	[LastOperationEndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LastOperationEndDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SisDownloadLog]    Script Date: 09/01/2020 11:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SisDownloadLog](
	[SisDownloadLogid] [int] IDENTITY(1,1) NOT NULL,
	[Channel] [nvarchar](100) NULL,
	[Url] [nvarchar](500) NULL,
	[LogContent] [nvarchar](max) NULL,
	[Operation] [nvarchar](200) NULL,
	[CreateTime] [datetime] NULL,
	[Exception] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SisDownloadLogid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AlreadyScaned]    Script Date: 09/01/2020 11:39:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AlreadyScaned] ON [dbo].[AlreadyScaned]
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
