<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="http://www.cainqs.com:8087/webav/index">WebAV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:8087/webav/index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:8087/webav/playav">播放</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:8087/webav/scanjav">扫描Jav</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:8087/webav/scanjoblist">浏览种子</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:8087/webav/uploadseeds">上传种子</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cainqs.com:9080" target="_blank">查看PT下载</a>
                </li>
            </ul>
        </div>
    </nav>
</div>